<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up!</title>
</head>
<body>
<h1>Sign up</h1>
<div className={'textFont'}>
    <Container className={'my-3 d-flex justify-content-center'}>
    <Card className={"w-50"}>
        <Card.Header className={'text-center cardHeader'}><h3>Log in</h3></Card>
        <Card.Body>
            <Form>
                <Form.Group controlId={"formBasicEmail"}>
                    <Form.Label>Email address</Form.Label>
                    <Form.Control type={'email'} placeholder={'Enter email'} name={'email'}
                    value={state.value}
                    onChange={handleChange} required/>
                </Form.Group>
                <Form.Group controlId={"formBasicPassword"}>
                    <Form.Label>Password</Form.Label>
                    <Form.Control type={'password'} placeholder={'Enter password'} name={'password'}
                    value={state.value} onChange={handleChange} required/>
                </Form.Group>
            </Form>
            <Button variant='primary' type={'submit'} onClick={handleSubmitClick}><Link style={{color:'white', textDecoration:'none'}} to={'/'}>Log in</Link></Button>
            <div style={{display:'flex', justifyContent:'left', alignItems:'center', gap:'1ch'}}><p className={'mt-3'}> Not a member? </p><Link to={"/signup"}>Sign up</Card.Body></div>
</Card.Body>
</Card>
</Container>
</div>
<!--    <div><p>Email address</p><input type="text" placeholder="Enter email"></input></div>-->
<!--    <div><p>Email password</p><input type="text" placeholder="Enter email"></input></div>-->
</body>
</html>